---
import Layout from '../layouts/Layout.astro';
import Hero3D from '../components/Hero3D.astro';
import Greeting from '../components/Greeting.astro';
import PhotoGallery from '../components/PhotoGallery.astro';
import Wishes from '../components/Wishes.astro';
---

<Layout title="생일 축하해요! | Happy Birthday">
  <main>
    <Hero3D />
    <Greeting />
    <PhotoGallery />
    <Wishes />
    
    <footer class="bg-gray-900 text-white py-8 text-center">
      <p class="font-noto-kr">
        Hecho con cariño de parte de Batigato 
      </p>
    </footer>
  </main>
</Layout>